<a href="https://colab.research.google.com/github/ashfak221902179/My-First-Repository/blob/main/06_11_2024_Ashfakur_Rahman_221902179_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# problem 3:
sum_ = 0
i = 1 #initialize
while i<=50: #test condition
  sum_ += i
  i += 1 #update
print("summation: ", sum_)

summation:  1275

In [ ]:
#problem 1: print 15 to 30

i = 15 #initialize
while i <= 30: #test condition
    print(i)
    i += 1 #update

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
#problem 4: factorial number

i = 0  # Initialize
while i <= 20:  # Test condition
    if i % 2 == 0:  # Check if the number is even
        print(i)
    i += 1

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# problem 2: sum first n natural numbers

num = 1
while (num<10):
  sum = num + 1# problem 3 factorial number

sum = 0
i = 1
while i <= 5:
  sum += i
  num += 1
  print("sum: ", sum)

sum:  2
sum:  3
sum:  4
sum:  5
sum:  6
sum:  7
sum:  8
sum:  9
sum:  10

In [ ]:
# problem 5: multiplication table

num = int(input("Enter a number : "))

i = 1 # Initialize

while i <= 10:
    print( num, "x" , i, "=" , num*i)
    i += 1

Enter a number : 5
5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5
5 x 10 = 5

In [ ]:
# problem 7: sum of digit

n = int (input("put a number: "))
sum = 0
while n > 0:
  d = n % 10
  n //= 10
  sum += d
print (sum)

put a number: 3456
18

In [ ]:
from ast import Add
A = [36, 69, 24, 32, 45]
print (A)
print(A[2])
A[3] = A[2]
print (A)
A[1] += 10
print (A)

[36, 69, 24, 32, 45]
24
[36, 69, 24, 24, 45]
[36, 79, 24, 24, 45]

In [ ]:
# problem 6: reverse a list

A = [36, 69, 24, 32, 45, 62, 45, 93]
print (A)
i = 0
while i < len (A)/2:
  A[i], A[len(A)-i-1] = A[len(A)-i-1], A[i]
  i += 1
print (A)

[36, 69, 24, 32, 45, 62, 45, 93]
[93, 45, 62, 45, 32, 24, 69, 36]

In [ ]:
#Find the maximum in the list
A = [36, 69, 24, 32, 45, 62, 45, 93]
i = 0
max_ = A[0]
while i < len(A):
  if max_ < A[i]:
     max_ = A[i]
  i += 1
print (max_)

93

In [ ]:
A = [36, 69, 24, 32, -45, 62, 45, 93]
i = 0
while i < len(A):
  if A[i] < 0:
       break
  else:
    print (A[i])
  i += 1

36
69
24
32

In [ ]:
attemp = 3
pass_ = "abc123"

i = 0
while i < attemp:
  password = input ("put your password: ")
  if password == pass_:
    match = True
    break
  i += 1

if match:
  print ("Access Granted")
else:
  print ("Access Denied")

put your password: 1234
put your password: asbs2