<a href="https://colab.research.google.com/github/ashfak221902179/My-First-Repository/blob/main/11_11_2024_2121902179_Ashfakur_Rahman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A = [5, 4, 3, 2, 1]
print(A)

[5, 4, 3, 2, 1]

In [ ]:
# example 1
for i in [1, 2, 3, 4, 5]:
        print(i)
print("Blast off!")

1
2
3
4
5
Blast off!

In [ ]:
# example 2

word = 'hello'
for char in word:
        print(char)

h
e
l
l
o

In [ ]:
word = "hello"
key = input("input key: ")

input key: 3

In [ ]:
# example - 3 : message encode
plaintext =  input ("put a message: ")
key = int (input ("put a key: "))
cipher = ""

for char in plaintext:
    cipher += chr(ord(char) + key)

print ("ciphertext: ", cipher)

message = ""
for char in cipher:
    message += chr(ord(char) - key)

print (message)

put a message: ashfak
put a key: 3
ciphertext:  dvkidn
ashfak

In [ ]:
# example 4:

student_age = {"Alice": 28, "Bob": 30, "Charlie": 25}
print (student_age)

for student in  student_age:
  print (student)

for age in student_age.values():
  print(age)

for student, age in student_age.items():
  print (student, age)

{'Alice': 28, 'Bob': 30, 'Charlie': 25}
Alice
Bob
Charlie
28
30
25
Alice 28
Bob 30
Charlie 25

In [ ]:
# example: 5

names = ['Alice', 'Bob', 'Charlie']
ages = ['28', '30', '25']

for name, age in zip (names, ages):
   print(name, age)

Alice 28
Bob 30
Charlie 25

In [ ]:
# example: 6

fruits = ['apple', 'banana', 'cherry']

for index, fruits in enumerate (fruits):
  print (index, fruits)

0 apple
1 banana
2 cherry

In [ ]:
# example: 7

for i in range (4):
  for j in range (4):
    for k in range (4):
      print ("i: ", i, "j: ", j, "k: ", k)

i:  0 j:  0 k:  0
i:  0 j:  0 k:  1
i:  0 j:  0 k:  2
i:  0 j:  0 k:  3
i:  0 j:  1 k:  0
i:  0 j:  1 k:  1
i:  0 j:  1 k:  2
i:  0 j:  1 k:  3
i:  0 j:  2 k:  0
i:  0 j:  2 k:  1
i:  0 j:  2 k:  2
i:  0 j:  2 k:  3
i:  0 j:  3 k:  0
i:  0 j:  3 k:  1
i:  0 j:  3 k:  2
i:  0 j:  3 k:  3
i:  1 j:  0 k:  0
i:  1 j:  0 k:  1
i:  1 j:  0 k:  2
i:  1 j:  0 k:  3
i:  1 j:  1 k:  0
i:  1 j:  1 k:  1
i:  1 j:  1 k:  2
i:  1 j:  1 k:  3
i:  1 j:  2 k:  0
i:  1 j:  2 k:  1
i:  1 j:  2 k:  2
i:  1 j:  2 k:  3
i:  1 j:  3 k:  0
i:  1 j:  3 k:  1
i:  1 j:  3 k:  2
i:  1 j:  3 k:  3
i:  2 j:  0 k:  0
i:  2 j:  0 k:  1
i:  2 j:  0 k:  2
i:  2 j:  0 k:  3
i:  2 j:  1 k:  0
i:  2 j:  1 k:  1
i:  2 j:  1 k:  2
i:  2 j:  1 k:  3
i:  2 j:  2 k:  0
i:  2 j:  2 k:  1
i:  2 j:  2 k:  2
i:  2 j:  2 k:  3
i:  2 j:  3 k:  0
i:  2 j:  3 k:  1
i:  2 j:  3 k:  2
i:  2 j:  3 k:  3
i:  3 j:  0 k:  0
i:  3 j:  0 k:  1
i:  3 j:  0 k:  2
i:  3 j:  0 k:  3
i:  3 j:  1 k:  0
i:  3 j:  1 k:  1
i:  3 j:  1 k:  2
i:  3 j:  1 k:  3
i:  3 j:  2 k:  0
i:  3 j:  2 k:  1
i:  3 j:  2 k:  2
i:  3 j:  2 k:  3
i:  3 j:  3 k:  0
i:  3 j:  3 k:  1
i:  3 j:  3 k:  2
i:  3 j:  3 k:  3

In [ ]:
#example: 9

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
  for value in row:
    print(value)

1
2
3
4
5
6
7
8
9

In [ ]:
# examlple: 10
A  = [3, 41, 12, 9, 74, 15]
max = A[0]
for i in A:
  if i > max:
    max = i
print(max)

min = A[0]
for i in A:
  if i < min:
    min = i
print(min)

74
3

In [ ]:
# example: 11

A = [3, 41, 12, 9, 74, 15]

smallest = None
for i in A:
  if smallest is None:
    smallest = i
  elif smallest > i:
    smallest = i

print(smallest)

match = True
if match is True:
      print(match)

3
True

In [ ]:
# example: 12_ Print number from 1 to 10

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# example 13: Sum of first N Natural Numbers

N = int(input("Enter a number: "))
sum_of_numbers = 0

for i in range (number + 1)

Enter a number: 123
The sum of the first 123 natural numbers is: 7626

In [ ]:
#example 14:
String = input("enter string: ")

for char in String:
  print(char)

enter string: asfak
a
s
f
a
k

In [ ]:
# example 15:

for even in range(2, 21, 2):
  print(even)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# example 16:

num = int(input("enter number: "))
fact = 1
for i in range(1, num+1):
  fact *=i
print(fact)

enter number: 5
120

In [ ]:
# example 17:
import math
n = int(input("put a number: "))
for i in range(2, int(math.sqrt(n)), 1):
  if n % 1 == 0:
    prime = False
    break
if prime is True:
    print(n, "is a prime number")
else:
    print(n, "is not prime number")

put a number: 13
13 is not prime number